
.interrogate-col > button {
    flex: 0 !important;
}

.PBE_Scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 6px;
}

.PBE_Scrollbar::-webkit-scrollbar-track {
    
}

.PBE_Scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    outline: 1px solid slategrey;
    border-radius: 5px;
}

.PBE_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--button-primary-background-fill) !important;
    padding: 0 5px !important;
    font-size: 16px !important;
    font-weight: var(--button-large-text-weight) !important;
    cursor: pointer !important;
    border-radius: var(--button-large-radius);
    height: 30px;
    align-self: auto !important;
    font-family: sans-serif !important;
    color: var(--button-primary-text-color) !important;
    text-shadow: 1px 0px 1px black;
    border-color: var(--button-primary-border-color);
    border-style: solid;
    border-width: var(--button-border-width);
}

.PBE_button:hover {
    background: var(--button-primary-background-fill-hover) !important;
    border-color: var(--button-primary-border-color-hover);
    color: var(--button-primary-text-color-hover) !important;
}

.PBE_buttonCancel {
    background: var(--button-cancel-background-fill) !important;
    border-color: var(--button-cancel-border-color) !important;
    color: var(--button-cancel-text-color) !important;
}

.PBE_buttonCancel:hover {
    background: var(--button-cancel-background-fill-hover) !important;
    border-color: var(--button-cancel-border-color-hover) !important;
    color: var(--button-cancel-text-color-hover) !important;
}

.PBE_generalInput {
    box-shadow: var(--input-shadow) !important;
    border-width: var(--input-border-width) !important;
    border-style: solid !important;
    border-color: var(--input-border-color) !important;
    border-radius: var(--input-radius) !important;
    background: var(--input-background-fill) !important;
    color: var(--body-text-color) !important;
    font-family: var(--font) !important;
}

select.PBE_generalInput {
    cursor: pointer;
}

.PBE_generalInput::placeholder {
    color: var(--input-placeholder-color) !important;
}

.PBE_generalInput:hover {
    background: var(--input-background-fill-hover) !important;
    border-color: var(--input-border-color-hover) !important;
}

.PBE_generalInput:focus {
    outline: none !important;
    border-color: var(--input-border-color-focus) !important;
    box-shadow: var(--input-shadow-focus) !important;
    background: var(--input-background-fill-focus) !important;
}

.PBE_filtersContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.PBE_filtersContainer > * {
    margin-right: 5px;
}

.PBE_row {
    display: flex;
    flex-direction: row;
}

.PBE_column {
    display: flex;
    flex-direction: column;
}

.PBE_rowBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 500px;
    margin: 5px 0;
    background-color: rgba(100, 100, 100, 0.4);
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: var(--font);
}

.PBE_rowBlock_wide {
    max-width: none;
    justify-content: center;
}

.PBE_rowBlock input,
.PBE_rowBlock select {
    height: 100%;
    max-width: 200px;
    width: 200px;
    font-size: 16px;
}

.PBE_rowBlock input {
    padding: 0 0 0 10px;
    width: 190px;
}

.PBE_rowBlock input[type=checkbox] {
    height: 1rem;
    width: 1rem;
    max-width: none;
    cursor: pointer;

    box-shadow: var(--input-shadow);
    border: 1px solid var(--checkbox-border-color);
    border-radius: var(--checkbox-border-radius);
    background-color: var(--checkbox-background-color);
    /* line-height: var(--line-sm); */
}

.PBE_rowBlock input[type=checkbox]:checked:hover:focus {
    border-color: var(--checkbox-border-color-selected);
    background-image: var(--checkbox-check);
    background-color: var(--checkbox-background-color-selected);
}

.PBE_rowBlock label {
    cursor: pointer;
    user-select: none;
}

.PBE_fieldset {
    display: flex;
    flex-direction: row;
    border: 1px solid var(--block-border-color);
    padding: 4px;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.PBE_fieldset legend {
    font-family: var(--font);
    font-size: 17px;
    color: var(--body-text-color);
    /* text-shadow: 1px 1px 1px black; */
}

.PBE_fieldset label {
    font-size: 17px;
    font-family: var(--font);
    color: var(--body-text-color);
    /* text-shadow: 1px 1px 1px black; */
    cursor: pointer;
}

.PBE_fieldset > div,
.PBE_fieldset > input,
.PBE_fieldset > select {
    margin: 0 5px;
    /* height: 30px; */
}

.PBE_dataBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.PBE_dataColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.PBE_List {
    display: flex;
    flex-direction: row;
    overflow: auto;
    align-items: center;
}

.PBE_toggleButton {
    display: flex;
    align-items: center;
    transition: var(--button-transition);
    cursor: pointer;
    box-shadow: var(--checkbox-label-shadow);
    border: var(--checkbox-label-border-width) solid var(--checkbox-label-border-color);
    border-radius: var(--button-small-radius);
    background: var(--checkbox-label-background-fill);
    padding: var(--checkbox-label-padding);
    color: var(--checkbox-label-text-color);
    font-weight: var(--checkbox-label-text-weight);
    font-size: var(--checkbox-label-text-size);
    line-height: var(--line-md);
    font-family: var(--font);
}

.PBE_toggledButton {
    background: var(--checkbox-label-background-fill-selected);
    color: var(--checkbox-label-text-color-selected);
}

.PBE_swap {
    outline: 4px solid red;
    z-index: 2;
}

.PBE_List div{
    margin: 0 5px;
}

.PBE_Textarea {
    color: black;
    width: 500px;
}

/* Windows */

.PBE_generalWindow {
    display: none;
    width: 60vw;
    height: 60vh;
    position: fixed;
    top: 20vh;
    left: 20vw;
    z-index: 600;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
    box-shadow: 3px 3px 5px var(--primary-500);
    /* background: linear-gradient(to right, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%); */
    background: var(--background-fill-primary);
}

.PBE_windowContent {
    z-index: 3;
    overflow: auto;
    overscroll-behavior: contain;
    padding: 10px;
    flex-grow: 1;
    align-content: flex-start;
}

.PBE_windowCurrentList {
    display: flex;
    flex-direction: row;
    overflow: auto;
    margin: 10px 10px 0 10px;
    flex-grow: 1;
    overflow-y: hidden;
    width: 100%;
}

/* Windows end*/

.PBE_promptsWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.PBE_currentPrompts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5px 15px 15px 15px;
    z-index: 502;
    justify-content: flex-start;
    align-items: flex-end;
}

.PBE_promptElement {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    width: 50px;
    height: 100px;
    background-color: grey;
    background-position: center center;
    background-size: cover;
    flex-shrink: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    box-shadow: 0px 0px 2px 0px var(--primary-500) inset;
    font-weight: bold;
    text-align: center;
    font-size: 12px;
    text-transform: capitalize;
    cursor: pointer;
    user-select: none;
    word-break: break-word;
}

.PBE_promptElement_random {
    background-color: mediumaquamarine;
    background: linear-gradient(48deg, rgba(0,0,0,1) 0%, rgba(29,253,111,1) 47%, rgba(0,0,0,1) 100%);
}

.PBE_promptElementWeight {
    position: absolute;
    bottom: 0;
    font-size: 20px;
}

.PBE_syntaxElement {
    width: 20px !important;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    background-color: grey !important;
    background-image: none !important;
    background: linear-gradient(to bottom, #b5bdc8 0%,#828c95 36%,#28343b 100%) !important;
    transform: scale(0.9);
    transform-origin: center center !important;
}

.PBE_externalNetwork {
    border-bottom: 8px solid sandybrown;
}

.PBE_shadowedElement {
    box-shadow: 6px 6px 3px rgb(0 0 0 / 70%) inset;
}

.PBE_shadowedElement::after {
    content: " ";
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
    user-select: none;
}

.PBE_selectedCurrentElement {
    outline: 5px solid var(--primary-500);
    z-index: 10 !important;
}

.PBE_newElement {
    opacity: 0.5;
    transform: scale(0.9);
    transform-origin: center;
}

.PBE_newElement:hover {
    opacity: 1;
    transform: scale(1);
}

.PBE_selectedNewElement {
    opacity: 1;
    transform: scale(1);
    outline: 2px solid white;
    box-shadow: 6px 6px 3px black;
}

.PBE_promptElement.PBE_currentElement {
    transform-origin: bottom center;
}

.PBE_promptElementIndex {
    position: absolute;
    right: 4px;
    bottom: 0;
    font-size: 12px;
    color: cornflowerblue;
    text-shadow: 1px 1px 1px black;
}

.PBE_promptElementSplash {
    display: none;
    transition: transform 0.2s;
    width: 100px;
    height: 150px;
    background-color: grey;
    background-position: center center;
    background-size: cover;
    flex-shrink: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    justify-content: center;
    align-items: flex-end;
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;

    box-shadow: 0 0 10px 5px var(--primary-500);
    /* transform: scale(2); */
    transform-origin: top left;
    pointer-events: none;

    position: fixed;
    z-index: 5000;
    top: auto;
    left: auto;
    margin-top: 100px;
}

.PBE_promptElementSplash .PBE_promptElementWeight {
    bottom: auto;
    top: 0;
}

.PBE_promptElementSplash .PBE_promptElementIndex {
    bottom: auto;
    top: 0;
}

.PBE_promptElement:hover {
    z-index: 500 !important;
    transform: none !important;
    box-shadow: 0 0 10px 5px var(--primary-500);
}

.PBE_promptElement:hover .PBE_promptElementSplash{
    display: flex;
}

.PBE_actionButton {
    width: 110px;
    height: 20px;
    min-width: auto !important;
    top: -0.75em;
    background: var(--button-primary-background-fill) !important;
    color: var(--button-primary-text-color) !important;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer !important;

    font-weight: var(--button-small-text-weight) !important;
    border-radius: var(--button-small-radius);
    border-color: var(--button-primary-border-color);
    border-style: solid;
    border-width: var(--button-border-width);
}

.PBE_actionButton:hover {
    background: var(--button-primary-background-fill-hover) !important;
    border-color: var(--button-primary-border-color-hover);
    color: var(--button-primary-text-color-hover) !important;
}

.PBE_saveStylesButton {
    position: absolute;
    margin-left: 20px !important
}

.PBE_stylesButton {
    position: absolute;
    margin-left: 140px !important
}

.PBE_addUnknownButton {
    position: absolute;
    margin-left: 260px !important
}

.PBE_normalizeButton {
    position: absolute;
    margin-left: 380px !important
}

.PBE_normalizeButton_readonly {
    position: absolute;
    margin-left: 140px !important
}

.PBE_savePromptPreview {
    position: absolute;
    width: 100px;
    top: -14px;
    left: 8px;
    z-index: 500;
}

.PBE_input {
    width: 150px;
    height: 20px;
    line-height: 20px;
    font-size: 16px;
    padding: 0 36px 0 10px;
}

.PBE_select {
    width: 150px;
    height: 20px;
    line-height: 20px !important;
    font-size: 16px !important;
    padding: 0 36px 0 10px !important;
}

.PBE_savePromptSelect {
    position: absolute;
    top: -14px;
    left: 120px;
    z-index: 500;
}

.PBE_promptsGroup {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    border: 2px solid rgba(200, 200, 200, 0.5);
    background-color: rgba(200, 200, 200, 0.2);
    border-radius: 52px 10px 10px 52px;
    margin: 0 4px;
    overflow: hidden;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
}

.PBE_promptsGroup:hover {
    top: -4px;
    z-index: 10;
    box-shadow: 5px 5px 5px black;
}

.PBE_groupHead {
    width: 40px !important;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: none !important;
    background-color: grey !important;
    background: linear-gradient(to left, #b5bdc8 0%,#828c95 36%,#28343b 100%) !important;
    border-radius: 50px 0 0 50px;
}
