
.interrogate-col > button {
	flex: 0 !important;
}

.PBE_Scrollbar::-webkit-scrollbar {
	width: 4px;
	height: 6px;
}

.PBE_Scrollbar::-webkit-scrollbar-track {
	
}

.PBE_Scrollbar::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.5);
	outline: 1px solid slategrey;
	border-radius: 5px;
}

.PBE_button {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: cornflowerblue !important;
	padding: 0 5px !important;
	font-weight: bold !important;
	font-size: 16px !important;
	cursor: pointer !important;
	border-radius: 10px;
	height: 30px;
	align-self: auto !important;
	font-family: sans-serif !important;
	color: white !important;
	text-shadow: 1px 0px 1px black;
	border: none !important;
}

.PBE_button:hover {
	outline: 2px solid white;
}

.PBE_row {
	display: flex;
	flex-direction: row;
}

.PBE_column {
	display: flex;
	flex-direction: column;
}

.PBE_rowBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 500px;
	margin: 5px 0;
	background-color: rgba(200, 200, 200, 0.6);
	padding: 5px 10px;
	box-sizing: border-box;
}

.PBE_rowBlock_wide {
	max-width: none;
	justify-content: center;
}

.PBE_rowBlock input,
.PBE_rowBlock select {
	height: 100%;
    max-width: 200px;
	width: 200px;
}

.PBE_rowBlock input[type=checkbox] {
	height: 1rem;
	width: 1rem;
	max-width: none;
	cursor: pointer;
}

.PBE_rowBlock label {
	cursor: pointer;
}

.PBE_fieldset {
	display: flex;
	flex-direction: row;
	border: 1px solid cornflowerblue;
	padding: 4px;
	justify-content: center;
	align-items: center;
	margin: 5px;
}

.PBE_fieldset legend {
	font-family: sans-serif;
	font-size: 17px;
	color: cornflowerblue;
	text-shadow: 1px 1px 1px black;
}

.PBE_fieldset > div,
.PBE_fieldset > input,
.PBE_fieldset > select {
	margin: 0 5px;
	height: 30px;
}

.PBE_dataBlock {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.PBE_dataColumn {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.PBE_List {
	display: flex;
	flex-direction: row;
	overflow: auto;
	align-items: center;
}

.PBE_toggleButton {
	outline: 4px double dodgerblue;
	cursor: pointer;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 10px;
}

.PBE_toggledButton {
	outline: 4px solid dodgerblue;
}

.PBE_swap {
	outline: 4px solid red;
	z-index: 2;
}

.PBE_List div{
	margin: 0 5px;
}

.PBE_Textarea {
	color: black;
	width: 500px;
}

/* Windows */

.PBE_generalWindow {
	display: none;
	width: 60vw;
	height: 60vh;
	position: fixed;
	top: 20vh;
	left: 20vw;
	z-index: 600;
	flex-direction: column;
	flex-wrap: nowrap;
	overflow: hidden;
	box-shadow: 3px 3px 5px cornflowerblue;
	background: linear-gradient(to right, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
}

.PBE_windowContent {
	z-index: 3;
	overflow: auto;
	overscroll-behavior: contain;
	margin: 10px;
	flex-grow: 1;
	align-content: flex-start;
}

.PBE_windowCurrentList {
	display: flex;
	flex-direction: row;
	overflow: auto;
	margin: 10px 10px 0 10px;
	flex-grow: 1;
	overflow-y: hidden;
}

/* Windows end*/

.PBE_controlPanel {
	padding: 10px;
	display: flex;
	flex-direction: row;
	z-index: 2;
	width: auto !important;
}

.PBE_controlPanelHidden {
	position: absolute;
	width: 20px !important;
}

.PBE_toggleControlPanel {
	position: relative;
	left: -15px;
	border-radius: 10px;
	user-select: none;
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 30px;
	cursor: pointer;
	color: white;
	background-color: cornflowerblue;
}

.PBE_controlIcon {
	cursor: pointer;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 5px;
	user-select: none;

	color: cornflowerblue;
	border: 6px double cornflowerblue;
}

.PBE_activeControlIcon {
	border: 4px solid cornflowerblue;
}

.PBE_promptsWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.PBE_promptsCatalogue {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	margin: 10px;
}

.PBE_promptsCatalogueHeader {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
	align-items: center;
	padding: 0 10px;
}

.PBE_promptsCatalogueHeader select,
.PBE_promptsCatalogueHeader input {
	color: black;
	margin-right: 5px;
	height: 40px;
    width: 1px;
    flex-shrink: 1;
    flex-grow: 1;
    display: flex;
}

.PBE_promptsCatalogueHeader input {
	padding: 0 10px;
	height: 38px;
}

.PBE_promptsCatalogueContent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-height: 300px;
	overflow: auto;
	overflow-x: hidden;
	padding: 10px;
	z-index: 501;
}

.PBE_promptEdit {
	z-index: 700;
	padding: 10px;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	color: white;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	font-size: 18px;

	width: 600px;
	height: 700px;
	top: calc(50% - 350px);
	left: calc(50% - 300px);
}

.PBE_promptEditTitle {
	font-size: 22px;
	color: cornflowerblue;
	text-transform: capitalize;
}

.PBE_promptEdit select{
	color: black;
}

.PBE_promptEdit input{
	color: black;
}

.PBE_currentPrompts {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 5px 15px 15px 15px;
}

.PBE_promptElement {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	width: 50px;
	height: 100px;
	background-color: grey;
	background-position: center center;
	background-size: cover;
	flex-shrink: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	box-shadow: 0px 0px 2px 0px cornflowerblue inset;
	font-weight: bold;
	text-align: center;
	font-size: 12px;
	text-transform: capitalize;
	cursor: pointer;
	user-select: none;
}

.PBE_promptElementWeight {
	position: absolute;
	bottom: 0;
	font-size: 20px;
}

.PBE_externalNetwork {
	border-bottom: 8px solid sandybrown;
}

.PBE_shadowedElement {
	box-shadow: 6px 6px 3px rgb(0 0 0 / 70%) inset;
}

.PBE_shadowedElement::after {
    content: " ";
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: black;
	opacity: 0.6;
	user-select: none;
}

.PBE_selectedCurrentElement {
	outline: 5px solid cornflowerblue;
}

.PBE_newElement {
	opacity: 0.5;
	transform: scale(0.9);
	transform-origin: center;
}

.PBE_newElement:hover {
	opacity: 1;
	transform: scale(1);
}

.PBE_selectedNewElement {
	opacity: 1;
	transform: scale(1);
	outline: 2px solid white;
	box-shadow: 6px 6px 3px black;
}

.PBE_promptElement.PBE_currentElement {
	transform-origin: bottom center;
}

.PBE_promptElementSplash {
	display: none;
	transition: transform 0.2s;
	width: 100px;
	height: 150px;
	background-color: grey;
	background-position: center center;
	background-size: cover;
	flex-shrink: 0;
	color: white;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	justify-content: center;
	align-items: flex-end;
	font-size: 20px;
	text-transform: capitalize;
	cursor: pointer;

	box-shadow: 0 0 10px 5px cornflowerblue;
	transform: scale(2);
	transform-origin: top left;
	pointer-events: none;

	position: fixed;
	z-index: 5000;
	top: auto;
	left: auto;
	margin-top: 100px;
}

.PBE_promptElementSplash .PBE_promptElementWeight {
	bottom: auto;
	top: 0;
}

.PBE_promptElement:hover {
	z-index: 500 !important;
	transform: none !important;
	box-shadow: 0 0 10px 5px cornflowerblue;
}

.PBE_promptElement:hover .PBE_promptElementSplash{
	display: flex;
}

.PBE_actionButton {
	width: 120px;
	height: 20px;
	min-width: auto !important;
	top: -0.75em;
	background-color: goldenrod !important;
	border-radius: 10px !important;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer !important;
}

.PBE_stylesButton {
	position: absolute;
	margin-left: 25px !important
}

.PBE_addUnknownButton {
	position: absolute;
	margin-left: 155px !important
}

.PBE_normalizeButton {
	position: absolute;
	margin-left: 285px !important
}

.PBE_savePromptPreview {
	position: absolute;
	width: 100px;
	top: -14px;
	left: 8px;
	z-index: 500;
}

.PBE_input {
	width: 150px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	padding: 0 36px 0 10px;
	color: black;	
}

.PBE_numberInput {
	width: 150px;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	padding: 0 10px;
	color: black;
	font-family: math;
}

.PBE_select {
	width: 150px;
	height: 20px;
	line-height: 20px !important;
	font-size: 16px !important;
	border: none !important;
	border-radius: 10px !important;
	padding: 0 36px 0 10px !important;
	color: black !important;
}

.PBE_savePromptSelect {
	position: absolute;
	top: -14px;
	left: 120px;
	z-index: 500;
}

.PBE_toolsBackImage {
	position: absolute;
	filter: grayscale(55%) blur(5px) brightness(53%);;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	z-index: 1;
}

.PBE_toolsHeader {
	z-index: 4;
	flex-wrap: nowrap;
}

.PBE_toolsSetup {
	margin: 10px;
	flex-shrink: 0;
}

.PBE_toolsFooter {
	z-index: 2;
}


/* Prompts Scriber */

.PBE_newPromptsHeader {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
}

.PBE_autocompliteBox {
	position: absolute;
	z-index: 501;
	box-shadow: 3px 3px 5px cornflowerblue;
	background: linear-gradient(to right, rgba(207,231,250,1) 0%,rgba(99,147,193,1) 100%);
}

.PBE_hintItem {
	font-family: sans-serif;
	/* text-transform: capitalize; */
	color: aliceblue;
	text-shadow: 1px 1px 1px black;
	padding: 0 10px;
	overflow: hidden;
	font-size: 16px;
	cursor: pointer;
}

.PBE_hintItem:hover,
.PBE_hintItemSelected {
	background-color: cornflowerblue;
	transform: scale(1.05);
}

/* Prompts Scriber end*/


/* Collection tools */

.PBE_collectionToolsWindow {
	width: 90vw;
	height: 90vh;
	top: 5vh;
	left: 5vw;
}

.PBE_collectionToolsHeader {
	padding: 10px;
}

.PBE_detailedItemContainer {
	flex-direction: row;
	flex-wrap: wrap;
}

.PBE_detailedItem {
	width: 40%;
	min-height: 60px;
	font-family: sans-serif;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-grow: 1;
	background-color: white;
	border: 4px solid white;
	margin: 2px;
	color: black;
	text-shadow: 1px 1px 1px black;
	content-visibility: auto;
	contain-intrinsic-size: 1px 5000px;
}

.PBE_detailedItem.selected {
	border: 4px solid cornflowerblue;
	background-color: lightskyblue;
}

.PBE_detailedItem.selected .PBE_detailedItemName {
	color: coral;
}

.PBE_detailedItem:hover .PBE_detailedItemSelector,
.PBE_detailedItem.selected .PBE_detailedItemSelector {
	opacity: 1;
}

.PBE_detailedItemSelector {
	cursor: pointer;
	width: 60px;
	background-color: cornflowerblue;
	margin-right: 10px;
	flex-shrink: 0;
	background-size: cover;
	opacity: 0.5;
	user-select: none;
}

.PBE_detailedItemContent {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-grow: 1;
	padding: 10px;
}

.PBE_detailedItemTop {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.PBE_detailedItemBottom {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}

.PBE_detailedItemName {
	font-size: 18px;
	color: cornflowerblue;
	text-transform: capitalize;
}

.PBE_detailedItemComment {
	padding: 0 10px;
	color: cornflowerblue;
}

.PBE_detailedItemTags,
.PBE_detailedItemCategories {
	width: 50%;
	background-color: cornflowerblue;
	color: white;
	padding: 4px;
}

.PBE_collectionToolsActions {
	flex-wrap: wrap;
	padding: 5px;
}

/* Collection tools end*/


/* Prompts filter */

.PBE_filtersWrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px;
	padding: 2px 2px 0 2px;
	background-color: white;
	border-radius: 10px;
	flex-grow: 1;
	/* box-shadow: 2px 2px 4px black inset; */
}

.PBE_filtersAddNew {
	height: 20px;
	width: 20px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: limegreen;
	color: white;
	font-family: monospace;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	margin: 0 0px 2px 2px;
}

.PBE_filtersRemoveNew {
	background-color: brown;
}

.PBE_newFilterContainer {
	background-color: cornflowerblue;
	align-items: center;
	padding: 0 10px;
	border-radius: 10px;
	flex-wrap: nowrap;
	height: 20px;
}

.PBE_filterAction {
	font-family: sans-serif;
	height: 20px;
	line-height: 20px;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	padding: 0 10px;
	color: white;
	background-color: lightskyblue;
	cursor: pointer;
	width: 80px;
	text-align: center;
}

.PBE_filterItem {
	display: flex;
	flex-wrap: nowrap;
	height: 20px;
	background-color: aqua;
	border-radius: 10px;
	padding-left: 5px;
	margin-right: 5px;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 15px;
	align-items: center;
	color: black;
	margin-bottom: 2px;
}

.PBE_filterItemNegative {
	background-color: coral;
}

.PBE_filterItemRemove {
	background-color: crimson;
	width: 20px;
	height: 20px;
	color: white;
	font-size: 12px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	margin-left: 5px;
}

/* Prompts filter end*/


/* Setup window */

.PBE_setupWindow {
	z-index: 600;
	padding: 10px;
	align-items: center;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

	color: white;
	text-shadow: 1px 1px 1px black;
	font-weight: bold;
	font-size: 18px;

	width: 600px;
	height: 500px;
	top: calc(50% - 250px);
	left: calc(50% - 300px);
}

/* Setup window end */


/* Styles window */

.PBE_stylesHeader {
	height: 110px;
	flex-wrap: nowrap;
	flex-shrink: 0;
}

.PBE_stylesSetup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-right: 10px;
	flex-shrink: 0;
}

.PBE_newStyleName {
	padding: 0 5px;
	border-radius: 10px;
	height: 30px;
	width: 256px;
	margin-bottom: 5px;
	border: none;
}

.PBE_styleItem {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	background-color: rgba(50, 100, 200, 0.5);
	margin: 10px 0;
	background-size: cover;
	background-position: center;
}

.PBE_styleHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: cornflowerblue;
	color: white;
	padding: 2px 10px;
}

.PBE_styleItemName {
	color: white;
	text-shadow: 1px 1px 1px black;
	font-size: 20px;
}

.PBE_styleItemContent {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}

.PBE_stylesCurrentList {
	display: flex;
	flex-direction: row;
	overflow: auto;
	margin: 5px;
	flex-grow: 1;
}

.PBE_stylesAction {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px;
	min-height: 90px;
	flex-shrink: 0;
	max-width: 210px;
	justify-content: center;
}

.PBE_stylesAction button {
	margin: 0 2px;
	width: 100px;
}

.PBE_stylesFilter {
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	padding: 0 10px;
}

.PBE_stylesFilter > * {
	margin-right: 10px;
}

/* Styles window end */
